html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 37.5px;
  font-family:PingFangSC-Medium,PingFang SC,PingFangSC-Regular;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/**/
.van-tab--active {
  color: #00B288 !important; 
}
// .van-hairline--bottom::after {
//   border-bottom-width:0!important;
// }