html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 37.5px;
  font-family: PingFangSC-Medium, PingFang SC, PingFangSC-Regular;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

