html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/**/
.van-tab--active {
  color: #00B288 !important; 
}